[settings]
port = 80
loglevel = "DEBUG"
immediate = 1
location = "Baltimore"
network-type = "home"
connection-type = "wired"

[exporters]

  [exporters.local]
  type = "local"
  enabled = true
  path = "/data/"

  [exporters.scp]
  type = "scp"
  enabled = true
  target = "your-scp-server-hostname-or-IP-address:murakami-exported-data/"
  port = 22
  username = "your-scp-username"
  private_key = "/murakami/keys/id_rsa_murakami"

  [exporters.gcs]
  type = "gcs"
  enabled = true
  target = "gs://murakami-gcs-test/"
  service_account = "murakami-test-gcs@mlab-sandbox.iam.gserviceaccount.com"
  key = "/murakami/keys/murakami-gcs-serviceaccount.json"

[tests]

  [tests.dash]
  enabled = false

  [tests.ndt5]
  enabled = true
