MURAKAMI_SETTINGS_WEBTHINGS=0
MURAKAMI_SETTINGS_PORT=80
MURAKAMI_SETTINGS_LOGLEVEL=INFO
MURAKAMI_SETTINGS_IMMEDIATE=1
MURAKAMI_SETTINGS_TESTS_PER_DAY=4
MURAKAMI_SETTINGS_LOCATION=mydevicelocation
MURAKAMI_SETTINGS_NETWORK_TYPE=home
MURAKAMI_SETTINGS_CONNECTION_TYPE=wired
MURAKAMI_EXPORTERS_LOCAL_TYPE=local
MURAKAMI_EXPORTERS_LOCAL_ENABLED=true
MURAKAMI_EXPORTERS_LOCAL_PATH=/data/
MURAKAMI_EXPORTERS_SCP_TYPE=scp
MURAKAMI_EXPORTERS_SCP_ENABLED=false
MURAKAMI_EXPORTERS_SCP_TARGET=your-scp-server-hostname-or-IP-address:murakami-exported-data/
MURAKAMI_EXPORTERS_SCP_PORT=22
MURAKAMI_EXPORTERS_SCP_USERNAME=your-scp-username
MURAKAMI_EXPORTERS_SCP_KEY=/murakami/configs/ssh-private-key-filename
MURAKAMI_EXPORTERS_GCS_TYPE=gcs
MURAKAMI_EXPORTERS_GCS_ENABLED=false
MURAKAMI_EXPORTERS_GCS_TARGET=gs://your-gcs-bucket/
MURAKAMI_EXPORTERS_GCS_ACCOUNT=your-gcp-service-account@your-gcp-project.iam.gserviceaccount.com
MURAKAMI_EXPORTERS_GCS_KEY=/murakami/configs/your-service-account-keyfile.json
MURAKAMI_EXPORTERS_HTTP0_TYPE=http
MURAKAMI_EXPORTERS_HTTP0_ENABLED=false
MURAKAMI_EXPORTERS_HTTP0_URL=http://some-test-url/api/v1/runs
MURAKAMI_TESTS_DASH_ENABLED=0
MURAKAMI_TESTS_NDT5_ENABLED=1
MURAKAMI_TESTS_NDT7_ENABLED=1
MURAKAMI_TESTS_NDT5CUSTOM_ENABLED=0
MURAKAMI_TESTS_NDT7CUSTOM_ENABLED=0
MURAKAMI_TESTS_NDT5CUSTOM_CONFIG=/murakami/configs/ndt-custom-config.json
MURAKAMI_TESTS_NDT7CUSTOM_CONFIG=/murakami/configs/ndt-custom-config.json
MURAKAMI_TESTS_SPEEDTEST_ENABLED=1
MURAKAMI_TESTS_OONIPROBE_ENABLED=false